{erl_opts, [
            debug_info,
            {parse_transform, lager_transform}
           ]}.
{deps, [
        {lager, {git, "https://github.com/basho/lager.git"}},
        {exometer, {git, "https://github.com/Feuerlabs/exometer_core.git"}}
       ]}.
{relx, [{release, {rotor, "0.1.0"},
         [rotor]},
        {dev_mode, false},
        {sys_config, "config/sys.config"},
        {overlay, [{mkdir, "log/sasl"},
                   {mkdir, "etc/"},
                   {copy, "etc/rotor.conf", "etc/rotor.conf"}]},
        {include_erts, true},
        {extended_start_script, true}]}.
