{erl_opts, [debug_info]}.
{deps, []}.
{relx, [{release, {rotor, "0.1.0"},
         [rotor]},
        {dev_mode, false},
        {sys_config, "config/sys.config"},
        {overlay, [{mkdir, "log/"},
                   {mkdir, "etc/"},
                   {copy, "etc/rotor.conf", "etc/rotor.conf"}]},
        {include_erts, true},
        {extended_start_script, true}]}.
